<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="internetShop_DBEntities" connectionString="metadata=res://*/mainEntities.internetShopEntity.csdl|res://*/mainEntities.internetShopEntity.ssdl|res://*/mainEntities.internetShopEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8CODL7Q;initial catalog=internetShop_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="internetShop_DBEntities1" connectionString="metadata=res://*/mainEntities.intShopEntityModel.csdl|res://*/mainEntities.intShopEntityModel.ssdl|res://*/mainEntities.intShopEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8CODL7Q;initial catalog=internetShop_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="internetShop_DBEntities2" connectionString="metadata=res://*/mainEntities.internetShopEntityModel.csdl|res://*/mainEntities.internetShopEntityModel.ssdl|res://*/mainEntities.internetShopEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=internetShop_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="internetShop_DBEntities3" connectionString="metadata=res://*/mainEntities.internet_Shop_Entity.csdl|res://*/mainEntities.internet_Shop_Entity.ssdl|res://*/mainEntities.internet_Shop_Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8CODL7Q;initial catalog=internetShop_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="internetShop_DBEntities4" connectionString="metadata=res://*/mainEntities.internetShopEntityModel.csdl|res://*/mainEntities.internetShopEntityModel.ssdl|res://*/mainEntities.internetShopEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8CODL7Q;initial catalog=internetShop_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="internetShop_DBEntities5" connectionString="metadata=res://*/mainEntities.internetShop_Entity.csdl|res://*/mainEntities.internetShop_Entity.ssdl|res://*/mainEntities.internetShop_Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=internetShop_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="internetShop_DBEntities6" connectionString="metadata=res://*/mainEntities.internet__Shop__Entity.csdl|res://*/mainEntities.internet__Shop__Entity.ssdl|res://*/mainEntities.internet__Shop__Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=internetShop_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>